body {
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
  background: grey;
  color: #333;
}

.weather-app {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #87ceeb;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 10px;
}

.weather-info {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.weather-info h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.weather-icon img {
  width: 100px;
  height: 100px;
}

.weather-info p {
  font-size: 1.2rem;
  margin: 5px 0;
}
